{% extends "layout.html" %}

{% block body %}

<p>My collection:</p>

{% if user_collection is defined %}
{% for count in user_count %}
<p>You have caught {{ count }} pokemon(s)</p>
{% endfor %}
<ul>
  {% for pokemon in user_collection %}
  <li>
    {% if pokemon.caught == 0 %}
    # {{ pokemon.number }} {{ pokemon.name }}   |Not caught|
    {% else %}
    # {{ pokemon.number }} {{ pokemon.name }}   |Caught!|
    {% endif %}
    <a><img src= {{ pokemon.imglink }} alt= {{ pokemon.name }}></a>
    <a href="{{ url_for('rename_pokemon', pokeid=pokemon.id) }}">|Rename?|</a>
    <a href="{{ url_for('remove_pokemon', pokeid=pokemon.id) }}">|Remove from collection|</a>
    {% if pokemon.caught == 0 %}
    <form method="POST" action="{{ url_for('pokemon_set_caught', pokeid=pokemon.id) }}">
      <input type="submit" value="Catch the pokemon!"/>
    </form>
    {% else %}
    <form method="POST" action="{{ url_for('pokemon_set_caught', pokeid=pokemon.id) }}">
        <input type="submit" value="Release the pokemon"/>
    </form>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}
