{% extends "layout.html" %}

{% block body %}

<p>My collection:</p>

{% if user_collection is defined %}
{% for count in user_count %}
<p>You have caught {{ count }} pokemon(s)</p>
{% endfor %}
<ul>
  {% for pokemon in user_collection %}
  <li>
    {% if pokemon.caught == 0 %}
    # {{ pokemon.number }} {{ pokemon.name }}   |Not caught|
    {% else %}
    # {{ pokemon.number }} {{ pokemon.name }}   |Caught!|
    {% endif %}
    <a href="http://pokemondb.net/pokedex/"{{ pokemon.name }}><img src= {{ pokemon.imglink }} alt= {{ pokemon.name }}></a>
    <form method="POST" action="{{ url_for('pokemon_set_caught', pokeid=pokemon.id) }}">
      <input type="submit" value="Catch the pokemon!"/>
    </form>
  </li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}
