{% extends "layout.html" %}

{% block body %}
  <table>
    {% if isAdmin %}
    <tr>
      <a href="{{ url_for('pokemon_new') }}">Lisää uusi pokemon</a>
    </tr>
    {% endif %}
    {% for pokemon in pokemons %}
    <tr>
      <td>
        # {{ pokemon.number }} {{ pokemon.name }} 
        {% if isAdmin %}
            <a href="{{ url_for('edit_pokemon', pokeid=pokemon.id) }}">Muokkaa</a>
            <a href="{{ url_for('delete_pokemon', pokeid=pokemon.id) }}">Poista</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
