{% extends "layout.html" %}

{% block body %}
  <table>
    {% if isAdmin %}
    <tr>
      <a href="{{ url_for('pokemon_new') }}">Add a new pokemon</a>
    </tr>
    <p></p>
    {% endif %}
    <a href="{{ url_for('pokemon_search') }}">Search for a pokemon</a>
    {% for pokemon in pokemons %}
    <tr>
      <td>
        # {{ pokemon.number }} {{ pokemon.name }} 
        <a><img src= {{ pokemon.imglink }} alt= {{ pokemon.name }}></a>
        <a href="{{ url_for('add_to_user', pokeid=pokemon.id) }}">Add to your collection</a>
        {% if isAdmin %}
            <a href="{{ url_for('edit_pokemon', pokeid=pokemon.id) }}">|Edit|</a>
            <a href="{{ url_for('delete_pokemon', pokeid=pokemon.id) }}">|Delete|</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
