{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('edit_pokemon', pokeid=pokeid) }}">
<table>
    <r>
        Edit: # {{ pokemon.number }} {{ pokemon.name }}
    </r>
    <tr>
        <td>
      {{ form.name.label }}
        </td>
        <td>
      {{ form.name }}
        </td>
    </tr>
    <tr>
        <td>
      {{ form.number.label }}
        </td>
        <td>
      {{ form.number }}
        </td>
    </tr>
  <tr>
  <td colspan="2">
  <input type="submit" value="Edit pokemon"/>
  </td>
</tr>
</form>
{% endblock %}
